.accordion {
  width: 100%;
  height: 525px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
}

.line {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 0 5px;
}

.accordion-content {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 50px); /* Adjust height as per your requirement */
}

.kpi-container {
  display: flex;
  width: 100%;
}

.kpi-left,
.kpi-right {
  width: 50%;
}

.kpi-divider {
  width: 2px;
  background-color: black;
  margin: 0 20px;
}

.container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0; /* Background color for the heading */
  padding-left: 20px; /* Padding on the left side */
}

.heading {
  white-space: nowrap; /* Ensure heading stays on one line */
  margin: 0; /* Remove default margin */
}

.content {
  padding-right: 20px; /* Padding on the right side */
}

.content p {
  margin: 5px 0; /* Add some space between lines of content */
}
